html{
  font-family: 'Raleway', sans-serif;
}

.nav-item:hover {
  /* font-size: 1.2% !important; */
  color: teal !important;
}

.about-image{
  /* width: 70%;
  max-height: 70%; */
float:right;
height:auto;
}


.welcome-page{
  position: absolute;
  top: 50%; right: 50%;
  transform: translate(50%,-50%);
  /* text-align: center; */
}
.section-heading {
  margin-top: 1rem !important;
}

.whoami {
  color: whitesmoke;
}

.fab.fa-linkedin:hover {
  color: teal;
  /* background-color:aliceblue; */
}

.fab.fa-facebook-square:hover {
  color: teal;
  /* background-color:aliceblue; */
}
.fab.fa-reddit-square:hover {
  color: teal;
  /* background-color:aliceblue; */
}

.fab.fa-github-square:hover {
  color: teal;
  /* background-color:aliceblue; */
}

.project1-bg {
  background-image: url("../assets/lisa-dribbble.gif");
}
.project2-bg {
  background-image: url("../assets/blockchain/1BlockchainLifecycle.gif");
}
.project2-headimg{
  width: 100%;
}
.arch-overview{
  max-width:100%;
  max-height:100%;
}
.project3-bg {
  background-image: url("../assets/chat-bot/bot.gif");
}
.card-cover {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.card-cover-p2 {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.rounded-4 {
  border-radius: 0.5rem;
}
.rounded-5 {
  border-radius: 1rem;
}

.text-shadow-1 {
  text-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.25);
}
.text-shadow-2 {
  text-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.25);
}
.text-shadow-3 {
  text-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.25);
}

.modal-content {
  background-color: #0480be;
  text-align: justify;
  color: rgba(255, 255, 255, 0.89)
}
.modal-body {
  background-color:#1F1B24;
  
}
.modal-title{
    justify-content: center;
}
.modal-header{
    background-color: #BB86FC;
}


.vl {
  border-left: 6px solid green;
}

.logo{
  display: block;
  padding: 0 0;
  height: 60px;
}


/* blog */
.blog{
  width: auto;
  height: 70%;
  overflow: auto;
}

ul.timeline {
  list-style-type: none;
  position: relative;
}
ul.timeline:before {
  content: ' ';
  background: #d4d9df;
  display: inline-block;
  position: absolute;
  left: 29px;
  width: 2px;
  height: 100%;
  z-index: 400;
}
ul.timeline > li {
  margin: 20px 0;
  padding-left: 20px;
}
ul.timeline > li:before {
  content: ' ';
  background: white;
  display: inline-block;
  position: absolute;
  border-radius: 50%;
  border: 3px solid #22c0e8;
  left: 20px;
  width: 20px;
  height: 20px;
  z-index: 400;
}

a{
  text-decoration: none;
  color: aliceblue;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  p {
    font-size: small;
  }
  img{
    height: 70%;
    height: 70%;
  };
  .top-margin{
    /* margin-top: 50%; */
    padding-top: 20%;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .top-margin{
    padding-top: 15%;
  }
  p {
    font-size: smaller;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .top-margin{
    padding-top: 12%;
  }
  p {
    font-size:small;
  }
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .top-margin{
    padding-top: 10%;
  }
  p {
    font-size:medium;
  }
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .top-margin{
    padding-top: 5%;
  }
  p {
    font-size:medium;
  }
}